<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="Connection" connectionString="server=.;Database=CableStorage;Integrated Security=true;User ID=sa;Password=kafkamurakami"
   providerName="Sql.Data.MySqlClient" />
  <add name="localhost_CableStorage_Connection" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=CableStorage" />
  <add name="localhost_CableStorage_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=CableStorage" />
  <add name="localhost_CableStorage_Connection 2" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=CableStorage" />
  <add name="localhost_CableStorage_Connection 3" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=CableStorage" />
  <add name="localhost_CableStorage_Connection 4" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=CableStorage" />
  <add name="localhost_CableStorage_Connection 5" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=CableStorage" />
 </connectionStrings>
</configuration>